/*Resetting Default Values*/
*, *::before, *::after
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular', 'FontAwesome';
}

/* Personalized Framework Classes */
.container
{
    max-width: 1200px;
    margin: 0 auto;
}

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
}

.col-1
{
    flex-basis: calc((100% / 12) * 1);
}

.col-2
{
    flex-basis: calc((100% / 12) * 2);
}

.col-3
{
    flex-basis: calc((100% / 12) * 3);
}

.col-4
{
    flex-basis: calc((100% / 12) * 4);
}

.col-5
{
    flex-basis: calc((100% / 12) * 5);
}

.col-6
{
    flex-basis: calc((100% / 12) * 6);
}

.col-7
{
    flex-basis: calc((100% / 12) * 7);
}

.col-8
{
    flex-basis: calc((100% / 12) * 8);
}

.col-9
{
    flex-basis: calc((100% / 12) * 9);
}

.col-10
{
    flex-basis: calc((100% / 12) * 10);
}

.col-11
{
    flex-basis: calc((100% / 12) * 11);
}

.col-12
{
    flex-basis: 100%;
}

.col-offset-1
{
    margin-left: calc((100% / 12) * 1);
}

.col-offset-2
{
    margin-left: calc((100% / 12) * 2);
}

.col-offset-3
{
    margin-left: calc((100% / 12) * 3);
}

.col-offset-4
{
    margin-left: calc((100% / 12) * 4);
}

.col-offset-5
{
    margin-left: calc((100% / 12) * 5);
}

.col-offset-6
{
    margin-left: calc((100% / 12) * 6);
}

.col-offset-7
{
    margin-left: calc((100% / 12) * 7);
}

.col-offset-8
{
    margin-left: calc((100% / 12) * 8);
}

.col-offset-9
{
    margin-left: calc((100% / 12) * 9);
}

.col-offset-10
{
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11
{
    margin-left: calc((100% / 12) * 11);
}

/* Out of Framework classes */

[class^="col-"] 
{
    /* CSS properties to apply to all classes that begin with "col-" */
    background-color: rgba(0,109,251,255);
    color: white;
    border: 1px solid white;
    text-align: center;
}

.half-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    background-color: rgba(0,109,251,255);
}

.offset
{
    margin-top: 20px;
}

.half-row .col-2, .half-row .col-6, .half-row .col-8
{
    background-color: #00e065;
}

.sixth-row
{    
    margin-bottom: 20px;
}